@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-image: linear-gradient(109.6deg, #3d8361 11.2%, #1c6758 91.1%);
  background-repeat: no-repeat;
}

::-webkit-scrollbar-thumb {
  background: white;
  transition: background 2s;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

.every {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
  background: #1c6758; 
 /*  background-image: linear-gradient(109.6deg, #3d8361 11.2%, #1c6758 91.1%);
  background-repeat: no-repeat; */
  color: white;
}

.oneline {
  text-align: right;
}
.accordion {
  background-image: linear-gradient(109.6deg, #3d8361 11.2%, #1c6758 91.1%);
  background-repeat: no-repeat;
  color: white;
}
.summery {
  justify-content: right;
}
